  :root{
  --main-clr : #dc143c;
  --p-clr : #f1f1f1;
  --s-clr : #454545;
  --light-mode : #f1f1f1;
  --dark-mode : #454545;
  }

  *{
    margin: 0;
    padding: 0;
    font-family: Geneva, Verdana, sans-serif;
    overflow-x: hidden;
  }

  body{
    scroll-behavior: smooth;
    user-select: none;
  }

  .darkMode{
    background-color: var(--dark-mode);
    color: var(--light-mode);
  }
  /* .lightMode{
    background-color: var(--light-mode);
    color: var(--dark-mode);
  } */

  /* Notification */
  .Notification-container{
    width: 80%;
    position: fixed;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    text-align: center;
    z-index: 99999999999999;
    box-shadow: 5px 5px 10px #00000046;
    border-radius: 4px;
    
  }

  @keyframes bounce{
    to{
      transform: scale(1);
    }
    from{
      transform: scale(1.2);
    }
  }


  .Notification-container > .Notification-box > .notificationText{
    color: var(--p-clr);
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
    animation: bounce 1s alternate ease-in-out;
    
  }

  .RedClass{
    background-color: red;
  }
  .GreenClass{
    background-color: green;
  }
  .OrangeClass{
    background-color: orange;
  }

  /* end */

  /* user page styling */

.Wrapper{
    position: relative;
    margin-top: 60px;
    width: 100%;
  }

.verify-warning-text{
  text-align: center;
  padding: 0.3rem;
  
  }

.verify-btn{
  outline: none;
  border: none;
  background: none;
  color: rgb(59,130,246);
  font-weight: bolder;
  cursor: pointer;
  text-decoration: underline;
}

  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  
  .nav-bar {
    background-color: var(--p-clr);
    color: var(--p-clr);
    padding: 10px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 15px #0000002c;
    user-select: none;
    position: fixed;
    z-index: 99999;
  }

  .nav-btn{
    margin-right: 1.5rem;
  }
  .nav-btn > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 9999;
    
  }


  .custom-link{
    text-decoration: none;
    color: var(--p-clr);
    margin:4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
  }

  .nav-bar > .nav-links > ul > li > .custom-link:hover,
  span {
    color: var(--main-clr);
  }

  .profile-menu {
    color: var(--s-clr);
    font-size: 1.5rem;

  }

  /* Register and login Page */

  .heroImage{
    width: 100%;
    height: auto;
  }
  .heroImage > img{
    transform: translateY(-80px);
  }

  .container{
    min-width: (900px, 100%-3rem);
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.225);
    border-radius: 8px;
    z-index: 99;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--main-clr);
    backdrop-filter: blur(1px);
    padding: 2rem;
    text-align: center;

  }

  .container > .input-container{
    padding: 10px;
    margin:0 30px;
    color: var(--p-clr);
    
  }
  .container > .input-container > input{
    padding: 10px;
    margin:1px 0 10px;
    border-radius: 5px;
    outline: none;
    border: none;
  }
  .submit-btn{
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--p-clr);
    margin: 10px;
    width: 120px;
    cursor: pointer;
    color: var(--s-clr);
  }

  .animate-spin{
    animation: spin 0.5s ease-in-out infinite;
  -webkit-animation: spin 0.5s ease-in-out infinite;
  }

  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }

  .useful-links{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .otp-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ContainerBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
  }

  .box {
    background-color: var(--main-clr);
    width: 180px;
    height: auto;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
    border-radius: 10px;
    transition: 0.2s all;
    cursor: pointer;
  }
  .box:hover {
    background-color: var(--main-clr);
    box-shadow: none;
  }
  
  .box > .img {
    padding: 5px;
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    transition: 0.2s all;
  }
  .box > .img:hover {
    border: none;
  }
  .box > .img > img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: 0.2s all;
  }
  .box > .img > img:hover {
    transform: scale(0.9) translateY(-8px) rotate(30deg);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.425);
  }
  .title-text {
    padding: 5px;
    font-size: 1.2rem;
    color: var(--p-clr);
    font-weight: lighter;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 150px;
  }


  /* Landing page */

  .landing-section{
    width: 100%;
    overflow-y: hidden;
    box-shadow: 5px 5px 10px #0000005b ;
  }

  .hero-poster{
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    background-color: var(--main-clr);
    padding: 25px;
    height: auto;
  }
  .hero-poster >img {
    scroll-snap-align: start;
    border-radius: 8px;
    background-color: var(--p-clr);
    border: 1px solid #0000002a;
    box-shadow: 5px 5px 15px #0000005d;
    border-radius: 8px;
    padding: 20px;
    width: 240px;
    height: 180px;
    object-fit: contain;
    transition: 0.2s all;
  }

  .hero-poster > img:hover{
    transform: scale(1.02);
  }

  .hero-poster::-webkit-scrollbar{
    display: none;
  }
  .hero-title{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 0 auto;
    z-index: 999;
    padding-top: 20px;
    background-color: var(--main-clr);

  }
  .hero-title > p {
    font-size: 20px;
    text-transform: uppercase;
    color: var(--p-clr);
    line-height: 40px;
  }
  .hero-title > p:nth-child(2){
    font-size: 22px;
  }

  .section-info{
    width: 100%;
  }

  .section-info > .benefits-yoga{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  .section-info > .benefits-yoga > .hero-image-yoga > img{
    width: 200px;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
    box-shadow: 5px  5px 10px #00000012 ;
  }
  .benfits-list{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .benfits-list > ul {
    counter-reset: user-counter;
    margin-top: 10px;
  }
  .benfits-list > ul > li {
    font-size: 12px;
    line-height: 1.25rem;
  }

  .benfits-list > ul > li::before{
    counter-increment: user-counter;
    content: counter(user-counter) ".";
  }

  .ending-quote{
    text-align: center;
    padding: 20px;
    font-size: 15px;
    font-weight: lighter;
  }
  .ending-quote > .ending-quote-bold {
    font-weight:bold;
    padding: 0 0 10px;
  }
  .yoga-poster{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }

  .resources-card{
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    padding: 25px;
    height: auto;
    user-select: none;
  }

  .resources-card > .card-holder{
    scroll-snap-align: start;
    border-radius: 8px;
    border: 1px solid #0000002a;
    box-shadow: 5px 5px 15px #0000005d;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    height: 200px;
    transition: 0.2s all;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
  }

  .resources-card::-webkit-scrollbar{
    display: none;
  }

  .resources-card > .card-holder > .card-poster > img {
    width: 100%;
    object-fit: contain;
  }
  .resources-card > .card-holder > .card-poster > img:hover{
    transform: scale(1.1);
  }

  .resources-card > .card-holder > .title-card{
    text-align: center;
    font-weight: bold;
  }

  .resources-card > .card-holder > .try-now > p{
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: var(--p-clr);
    font-weight: light;
    font-size: 10px;
    text-transform: uppercase;
    background-color: var(--main-clr)
  }

  .start-your-subscription{
    background-color: var(--main-clr);
    padding: 10px;
    color: var(--p-clr);
    font-weight: bolder;
    text-transform: uppercase;
    border-radius: 8px;
  }

  .news-letter{
    display: flex;
    background-color: var(--main-clr);
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 10px;
    border-radius: 3px;
  }
  .news-letter > .email-input-sub,button{
    outline: none;
    padding: 10px;
    border: none;
    background-color: transparent;
    color: #fff;
    font-weight: bolder;
  }
  .news-letter > .email-input-sub::placeholder{
    color: #fff;
    font-weight: lighter;
  }
  .news-letter > .email-input-sub {
    margin-left: 20px;
  }
  .news-letter > button {
    margin-right: 20px;

  }
  .slogan{
    position: absolute;
    z-index: 999;
    margin-top: -90px;
  }

  .down-slg{
    left: 50%;
    transform: translateX(-50%);
  }
  .slogan > p{
    color: var(--p-clr);
    text-align: center;
    filter: drop-shadow(1px 1px 1px #000000);
    
  }
  
  .slogan > p:nth-child(1){
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.26rem;
    font-weight: bolder;
    animation: text-skew 8s alternate ease-in-out infinite;
  }

  .slogan > p:nth-child(2){
    font-size: 0.9rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    animation: text-skew 7s alternate ease-in-out infinite;
  }

  @keyframes text-skew {
    to{
      opacity: 0.3;
      letter-spacing: 0.36rem;
    }
    from{
      opacity: 1;
      letter-spacing: 0.25rem;
    }
  }

  .yogaVideo2{
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #00000045;
    padding: 0.1rem;
    pointer-events: none;
    transition: 0.01s all;
    filter: drop-shadow(5px 5px 10px #0000001f);
  }

  .news-letter > input:nth-child(1){
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    box-sizing: border-box;
    outline: 0.1px solid var(--main-clr);
    outline-offset: -1px;
  }

  .news-letter > input:nth-child(2){
    background-color: var(--main-clr);
    color: var(--p-clr);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }


  .card-holder-circle{
    scroll-snap-align: start;
    border-radius: 8px;
    border: 1px solid #0000002a;
    box-shadow: 5px 5px 15px #0000005d;
    border-radius: 8px;
    padding: 20px;
    width: 150px;
    height: 150px;
    transition: 0.2s all;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--p-clr);
  }
  .card-poster-circle > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.399);
    transition: 0.5s all;
  }
  .card-poster-circle > img:hover{
    transform: scale(0.90);
    border: none;
  }
  .title-card-circle{
    font-weight: lighter;
    font-size: 18px; 
  }

  .title-card > h1{
    color: var(--main-clr);
  }
  .title-card > p {
    font-weight: 400;
  }

  .footer{
    width: 100%;
    height: 5rem;
    background-color: var(--s-clr);
    overflow-y: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--p-clr);
  }

  .footer > ul {
    display: flex;
    justify-content: flex-end;
    color: var(--p-clr);
  }

  .footer > ul > li {
    padding: 5px;
    font-size: 25px;
  }
  .footer > div > p {
    text-align: center;
    margin-left: 5px;
  }

/* table */

table{
  width: 100%;
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

th,td{
  padding: 1rem;
  text-align: left;
  display: flex;
}

.monthly::before{
  content: "Monthly";
  width: 180px;
  height: 50px;
  position: absolute;
  transform: translate(-50px,-50px);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--s-clr);
  font-size: 1rem;
  font-weight: lighter;
  text-transform: capitalize;
}

.Annually::before{
  content: "Yearly";
  width: 180px;
  height: 50px;
  position: absolute;
  transform: translate(-50px,-50px);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--s-clr);
  font-size: 1rem;
  font-weight: lighter;
  text-transform: capitalize;
}

@media (max-width: 650px) {
  th{
    display: none;
  }
  table,tbody{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #00000046;
  }

  .price{
    font-weight: bolder;
    font-size: 25px;
  }

  td{
    display: block;
    padding: 0.5rem 1rem;
    margin-bottom: 5px;
    text-align: center;
  }

  .Annually{
    background-color: var(--s-clr);
    color: var(--p-clr);
  }

  td::before{
    content: attr(data-cell) " ";
    font-weight: lighter;
    text-transform: capitalize;

  }

  .monthly::before{
    content: "Monthly Plan";
    width: 180px;
    height: 50px;
    position: absolute;
    transform: translate(10px,-50px);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--s-clr);
    font-size: 1rem;
    font-weight: lighter;
    text-transform: capitalize;
    
  }

  .Annually::before{
    content: "Yearly Plan";
    width: 180px;
    height: 50px;
    position: absolute;
    transform: translate(10px,-50px);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--s-clr);
    font-size: 1rem;
    font-weight: lighter;
    text-transform: capitalize;
    
  }
}

/* user profile  */

.user-info-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin-top: -60px;
  
}
.user-details-conatiner{
  width: 80%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.117);
  border: 1px solid #0000000f;
  border-radius: 5px;

}
.extra-styling{
  text-transform: uppercase;
}
.user-field-name{
  width: 50%;
  padding: 10px 5px;
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
}
.profile-img> img{
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.dob-gender{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-direction: column;
  margin-bottom: 12px;
}

.dob-gender > input {
  width: 55%;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  
}

select,option{
  width: 60%;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  font-weight: bolder;
}
.model-box{
  width: 100%;
  position: absolute;
  z-index: 99999999999;
  height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  backdrop-filter: blur(5px);
}


/* Sidebar */

.sidebar{
  background-color: var(--p-clr);
  width: 200px;
  height: 100%;
  position: fixed;
  z-index: 999999;
  margin-top: 3em;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  color: var(--s-clr);
  flex-wrap: wrap;
}
.sidebar > .user{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  list-style: none;
  gap: 1rem;
  margin-left: 30px;
  padding: 1%;
}

.sidebar > .user > li {
  font-size: 0.9rem;
  font-weight: lighter;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.sidebar > .user > .user-name {
  font-weight: bolder;
  font-size: 1.1rem;
}

.sidebar> .user > .login-register{
  display: flex;
  align-items: left;
  cursor: pointer;
}

/* Slot Booking */
